/*custom styling*/

.toolbar-content-center {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}

.button-primary {
    margin-bottom: 20px;
    margin-right: 7%;
    margin-left: 7%;
}


/*custom animations*/

.slide-left-enter-active,
.slide-right-enter-active {
    transition: all 0.25s ease-out;
    transition-delay: 0.25s;

}

.slide-right-leave-active,
.slide-left-leave-active {
    transition: all 0.25s ease-out;

}

.slide-right-leave-to,
.slide-left-enter-from {
    opacity: 0;
    transform: translateX(100%);
}

.slide-right-enter-from,
.slide-left-leave-to {
    opacity: 0;
    transform: translateX(-100%);
}
