.background-image {
    background: url(/public/img/dirty-try.png) 0 0/100% 100% no-repeat;
}


.bg-transparent {
    background: transparent;
}

.element-spacing {
    margin-right: 10%;
    margin-left: 10%;
}

.toolbar-content-center {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}

.button-secondary,
.button-primary {
    margin-bottom: 20px;
    margin-right: 7%;
    margin-left: 7%;
}


/*custom swiper styles*/
.swiper-pagination-bullet {
    background-color: var(--ion-color-dark) !important;
}

.swiper-pagination-bullet-active {
    background-color: var(--ion-color-primary) !important;
}


.swiper-button-next,
.swiper-button-prev {
    color: var(--ion-color-primary) !important;
    padding-top: 40%
}

.swiper-button-disabled {
    color: var(--ion-color-light) !important;
}
